# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- Give some examples of Python code

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript
9. Swift
10. Go
11. MATLAB
12. SAS

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. Matplotlib
4. scikit-learn
5. TensorFlow
6. Keras

|Data Science Tools|
|------|
|Jupyter Notebook|
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Elias J